body {
    font-family: 'Merriweather', serif;
    color: #846930;
    width: 750px;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    background-color: #846930;
    color: #ffffff;
    margin: 0;
    font-size: 1.5em;
    text-align: center;
}
.palencia{
    background-color: #000000;
}
table {
    vertical-align: top;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}
td {
    vertical-align: top;
    background-color: #d3d0b5;
    border-spacing: 0;
    border: 0;
}
p {
    font-size: 0.8em;
    text-align: justify;
}
li {
    font-size: 0.8em;
}
img {
    opacity: 0.5;
}
img:hover {
    opacity: 1;
}
.borde {
    border-right: solid #846930;
}
address {
    text-align: center;
    background-color: #846930;
    color: #ffffff;
    font-size: 0.8em;
}